.App {
  text-align: center;
}


.img{
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.form{
    padding: 30 px;
    position: fixed;
    bottom:0;
    z-index: 1;
    background-color: rgb(230, 228, 228);
    width: 100%;
   
}

.formcontrol{
  display: flex !important;
  flex-direction: row !important;
  padding: 20px;
  justify-content: space-around;
}

.iconBtn{
  flex: 0;
  
}

.input{
  flex: 1;
  padding: 20px;
}

.bottomGap{
  margin-bottom: 80px;
}